<% provide(:title, 'Contact') %>
<h1>Contacto</h1>

<h3>Bodega</h3>
<p>Tel: +506 2511-2618 <br>
Fax: +506 2511-3860 <br>
Johan Molina Navarro (jmolina@eie.ucr.ac.cr) <br>
José Antonio Barquero Chaves (jbarquero@eie.ucr.ac.cr)
 </p>

<br><br>

 <h3>Secretaría</h3>
<p>Tel: +506 2511-2600<br>
Fax: +506 2511-3920 <br>
Margie Sánchez Chavarría (msanchez@eie.ucr.ac.cr)
 </p>