<h1>Devoluciones</h1>

<%= form_tag get_control_controls_path, :method => 'get' do %>
  <div class="field">
    <%= label :code_name, 'Codigo del equipo' %>
    <br>
    <%= text_field_tag 'code_name', '' %>
  </div>

  <%= submit_tag "Submit", :class => "button" %>
<% end %>
