<footer class="footer">
  <small>
    <a href="http://www.ucr.ac.cr/">Universidad de Costa Rica</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contacto", contact_path %></li>
    </ul>
  </nav>
</footer>